body {
    background-color: black;
    
}

.container {
    padding: 0px 50px;

}

.center {

    text-align: center;
}

.padraobody {
    color: white
}

.backblack {
    background-color:black;
}

.icoheader {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    padding: 8px;
}

.icoheader a {
    color: white;
    text-decoration: none;
}

.icoheader a:hover {
    text-decoration: underline;
}

.icoheader p {
    margin-top: 2px;
}

.icoheader img {
    width: 60px;
    height: 60px;
    border-radius: 4ch;
    border: 2px solid white;
    text-align: center;
}

/* INICIO FOOTER */



.icofooter {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px;
}

.icofooter img {
    border-radius: 4ch;
}

.positionfooter {
    bottom: 0;
    position: absolute;
    width: 91%;
    
    
      
}