body {
    color:white;
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
}

nav p{
    margin-top: 2px;
}

nav ul  {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 5px;
}

nav ul img{
    width: 60px;
    height: 60px;
    border-radius: 4ch;
    border: 2px solid white
 }

nav ul a   {
color: white;
text-decoration: none;
text-align: center;

}

nav a:hover
{
        text-decoration:underline;
}

header {
    display: flex;
    justify-content: center;
    padding: 00px
}

main p{

    margin-top: 10px;
    margin-bottom: 50px;
}

footer img{
    /*width: 60px;
    height: 60px;*/
    border-radius: 4ch;
    /*border: 5px solid blue*/
    }

footer{
        display: flex;
        justify-content: space-between;
        padding: 0px     
    }

.container{
padding: 0px 50px;
}

.ferramentas p{
    color:white;
    margin-top: 150px;
    margin-bottom: 150px;
    font-family: 'Courier New', Courier, monospace;
}

